
<div class="my-container">
<ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '14px' }"></ngx-loading>
<div class="login-page">
  <div class="form">
    <form   class="login-form" (ngSubmit)="sendCode()" #testForm="ngForm" ngNativeValidate>
      <input autofocus name="phone" [(ngModel)]="phone"  [ngModelOptions]="{standalone: true}"  type="text" placeholder="Phone Number" [required]="true" />
           <button class="btn btn-info" type="submit">Send Code</button>
      <p class="message">We send you a verification code in your phone.</p>
    </form>
  </div>
</div>
</div>