<div class="my-container">
  <ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '14px' }"></ngx-loading>
<div class="login-page">
  <div class="form">
    <form   class="login-form" (ngSubmit)="setPassword()" #testForm="ngForm" ngNativeValidate>
      <input autofocus name="password" [(ngModel)]="resetPassword.password"  [ngModelOptions]="{standalone: true}"  type="text" placeholder="New Password" [required]="true"  />
           <button class="btn btn-info" type="submit" >set password</button>
    </form>
  </div>
</div>
</div>